@charset "UTF-8";

body {
    background-color: rgb(148, 219, 177);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h1 {
color: rgb(83, 121, 98);
}

h2 {
color:rgb(17, 126, 60);
}

p {
    text-align: justify;
}

.Basico {
    color: #3c805e;
}

.Intermediario {
    color: #7f803c;
}

.avancado {
    color: #803c3c;
}